<nav class="blue darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">МЦОБ Специальные данные</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        {{#if isRenameTask}}
        <li><a href="/renameTask" class="editNavTask large material-icons">edit</a></li>
        {{/if}}

        {{#if isRename}}
        <li><a href="/rename" class="editNav large material-icons">edit</a></li>
        {{/if}}

        {{#if isTasks}}
        <li class="active"><a href="/tasks">Проекты</a></li>
        {{else}}
        <li><a href="/tasks">Проекты</a></li>
        {{/if}}

        {{#if isIndex}}
        <li class="active"><a href="/">Сотрудники</a></li>
        {{else}}
        <li><a href="/">Сотрудники</a></li>
        {{/if}}

        {{#if isCreate}}
        <li class="active nav__create"><a href="/Create">Добавить сотрудника</a></li>
        {{else}}
        <li class="nav__create"><a href="/Create">Добавить сотрудника</a></li>
        {{/if}}

        {{#if isAddTask}}
        <li class="active nav__create"><a href="/addTask">Добавить проект</a></li>
        {{else}}
        <li class="nav__create"><a href="/addTask">Добавить проект</a></li>
        {{/if}}

      </ul>
  </div>
</nav>
        