<nav class="blue darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {{#if isIndex}}
        <li class="active"><a href="/">Сотрудники</a></li>
        {{else}}
        <li><a href="/">Сотрудники</a></li>
        {{/if}}

        {{#if isCreate}}
        <li class="active"><a href="/Create">Добавить сотрудника</a></li>
        {{else}}
        <li><a href="/Create">Добавить сотрудника</a></li>
        {{/if}}
      
      </ul>
  </div>
</nav>
        