<form action="/addTask" method="POST">
    <h2>Создайте новый проект...</h2>

    <div class="inputfailed">
        <input class="wrtie-inputs" type="text" required name="projectId" placeholder="Код проекта">
        <input class="wrtie-inputs" type="text" required name="nameOfProject" placeholder="Название проекта">
        <input class="wrtie-inputs" type="text" required name="description" placeholder="Описание">
        <input class="wrtie-inputs" type="text" required name="dataStarted" placeholder="Дата начала">
        <input class="wrtie-inputs" type="text" required name="dataEndend" placeholder="Дата окончания">
        <input class="wrtie-inputs" type="text" required name="team" placeholder="Штат">
        <input class="wrtie-inputs" type="text" required name="client" placeholder="Клиент">
        
        <label>Информация о новом проекте</label>
    </div>

    <button type="submit" class="btn add__employee">Добавить проект</button>
</form>
