<form action="/addTaskEmployee" method="POST">
    <h2>Создайте новую задачу...</h2>

    <div class="inputfailed">
        <input class="wrtie-inputs" type="text" required name="employeeId" placeholder="Код сотрудника">
        <input class="wrtie-inputs" type="text" required name="tasksId" placeholder="Код задачи">
        <input class="wrtie-inputs" type="text" required name="projectId" placeholder="Код проекта">
        <input class="wrtie-inputs" type="text" required name="email" placeholder="Почта">
        <input class="wrtie-inputs" type="text" required name="taskEmployee" placeholder="Задача сотрудника">
        
        <label>Задача для сотрудника</label>
    </div>

    <button type="submit" class="btn add__employee">Добавить задачу</button>
</form>
