<form action="/create" method="POST">
    <h2>Create Todo</h2>

    <div class="input-failed">
        <input type="text" name="title">
        <label>Todo Title</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>


