<form action="/create" method="POST">
    <h2>Введите данные о сотруднике...</h2>

    <div class="inputfailed">
            <input class="wrtie-inputs" type="text" autocomplete="off" name="firstName" required placeholder="Имя">
            <input class="wrtie-inputs" type="text" autocomplete="off" name="lastName" required placeholder="Фамилия">
            <input class="wrtie-inputs" type="text" autocomplete="off" name="jobTitle" required placeholder="Должность">
            <input class="wrtie-inputs" type="text" autocomplete="off" name="email" required placeholder="Электронная почта">
            <input class="wrtie-inputs" type="text" autocomplete="off" name="mobilePhone" required placeholder="Мобильный телефон">
            <input class="wrtie-inputs" type="text" autocomplete="off" name="employeeId" required placeholder="Код сотрудника">
            <input class="wrtie-inputs" type="text" autocomplete="off" name="projectId" required placeholder="Код проекта">
            <input class="wrtie-inputs" type="text" autocomplete="off" name="taskId" required placeholder="Код задачи">

        <label>Данные о новом сотруднике</label>
    </div>

    <button type="submit" class="btn add__employee">Добавить сотрудника</button>
</form>


