<form action="/create" method="POST">
    <h2>Введите данные о сотруднике...</h2>

    <div class="input-failed">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="mobilePhone" placeholder="Mobile Phone">
        
        <label>Данные о новом сотруднике</label>
    </div>

    <button type="submit" class="btn add__employee">Добавить сотрудника</button>
</form>


