<form action="/create" method="POST">
    <h2>Введите данные о сотруднике...</h2>

    <div class="inputfailed">
        <input class="wrtie-inputs" type="text" required name="firstName" placeholder="Имя">
        <input class="wrtie-inputs" type="text" required name="lastName" placeholder="Фамилия">
        <input class="wrtie-inputs" type="text" required name="jobTitle" placeholder="Должность">
        <input class="wrtie-inputs" type="text" required name="email" placeholder="Электронная почта">
        <input class="wrtie-inputs" type="text" required name="mobilePhone" placeholder="Мобильный телефон">
        
        <label>Данные о новом сотруднике</label>
    </div>

    <button type="submit" class="btn add__employee">Добавить сотрудника</button>
</form>


