<form action="/rename" method="POST">
    <h2>Hello</h2>


    <div class="inputsrename">
        <input class="wrtie-inputs" type="text"  name="firstName" placeholder="Имя" value="{{firstName}}">
        <input class="wrtie-inputs" type="text"  name="lastName" placeholder="Фамилия" value="{{lastName}}">
        <input class="wrtie-inputs" type="text"  name="email" placeholder="Электронная почта" value="{{email}}">
        <input class="wrtie-inputs" type="text"  name="mobilePhone" placeholder="Мобильный телефон" value="{{mobilePhone}}">
        
        <label>Обновить данные</label>
    </div>

    
    <button class="simple__btn" type="submit" name="simplebtn" value="back">Update</button>

    
        <h2></h2>

</form>