<form action="/rename" method="POST">

    <h1>Rename page</h1>

    <div class="inputsrename">
        <input class="wrtie-inputs" type="text" required name="renameFirstName" placeholder="Имя">
        <input class="wrtie-inputs" type="text" required name="renameLastName" placeholder="Фамилия">
        <input class="wrtie-inputs" type="text" required name="renameEmail" placeholder="Электронная почта">
        <input class="wrtie-inputs" type="text" required name="renameMobilePhone" placeholder="Мобильный телефон">
        
        <label>Данные о новом сотруднике</label>
    </div>


    <button class="simple__btn" type="submit" name="simplebtn" value="back">Back</button>
</form>