/* Header section */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.nav-wrapper {
    background-color: #4e4e4e;
}

.brand-logo {
    margin-left: 315px;
}

.hide-on-med-and-down {
    margin-right: 300px;
}

.editNav {
    width: 114px;
    text-align: center;
    position: relative;
    top: 52px;
    left: 303px;
    color: #000;
    background-color: #c0c0c0;
}

.editNavTask {
    width: 93px;
    text-align: center;
    position: relative;
    top: 52px;
    left: 184px;
    color: #000;
    background-color: #c0c0c0;
}

.editNavTaskEmployee {
    width: 81px;
    text-align: center;
    position: relative;
    top: 52px;
    left: 86px;
    color: #000;
    background-color: #c0c0c0;
}

.add__employee {
    margin-top: 30px;
}


.wrtie-inputs::placeholder {
    color: #a5a5a5;
}


/* For main page */
.main__label {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #000;
    padding: 1em;    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #9d9d9d;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.employee__length {
    font-size: 35px;
}

.main__subtitle {
    font-size: 35px;
}

.panel__title {
    font-size: 1rem;
    width: 156px;
}

.project__id {
    position: relative;
    left: 46px;
    width: 88px;
}

.employee__id {
    position: relative;
    left: 74px;
}

.project__id__main {
    width: 88px;
    position: absolute;
    left: 1159px;
}

.employee__id__main {
    position: relative;
    left: 158px;
}

.mobile__phone {
    position: relative;
    left: 71px;
}

.btn__delete__all {
    background-color: #9c1c1c;
    position: relative;
    left: 94px;
}


/* Task section */
.todo__management {
    margin-top: 0px;
}

.btn__small {
    transition: .2s ease;
    color: #000000;
    box-shadow: none;
    margin-right: 5px;
    background: none;
    border: none;
}

.btn__small:hover {
    margin-right: 5px;
    background-color: #c7c7c7;
    border: none;
}

.btn__section {
    margin-left: 154px;
}

.main__title {
    font-size: 1rem;
    width: 157px;
}

.title__of__project {
    width: 1060px;
}

.complete__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hide-on-med-and-down li {
    margin-right: 5px;
}

.todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ffffff;
    color: #000;
    padding: 1em;    
    border-bottom: 1px solid #9d9d9d;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.todo label:hover {
    width: 100%;
    background-color: #dfdfdf;
    color: #000;
}

.todo i {
    z-index: 2;
}


/* Rename page */
.rename__btn {
    width: 93px;
    height: 32px;
    
}

.btn__update {
    position: relative;
    top: 30px;
}

.rename__end__text {
    position: relative;
    top: 200px;
    color: #000000;
    font-size: 30px;
    transition: .2s ease;
}

.rename__end__text:hover {
    color: rgb(255, 42, 0);
}



/* For tasks page */
.projects__li article {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ffffff;
    color: #000;
    padding: 1em;    
    border-bottom: 1px solid #9d9d9d;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.projects__li__color article {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #dfdfdf;
    transition: .2s ease;
    color: #000;
    padding: 1em;    
    border-bottom: 1px solid #9d9d9d;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.main__label__tasks {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #000;
    padding: 1em;    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #9d9d9d;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.main__panel__tasks {
    margin-top: 50px;
}

.titles__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn__section__tasks {
    margin-top: -161px;
    position: absolute;
    left: 1455px;
    z-index: 100;
}

.btn__section__tasksEmployee {
    margin-top: -141px;
    position: absolute;
    left: 1455px;
    z-index: 100;
}

.task__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__length {
    margin: 0;
    font-size: 20px;
}

.tasksEmployee__length {
    margin: 0;
    font-size: 20px;
}

.management__projects {
    margin-top: 0px;
}

.projects__li article:hover {
    width: 100%;
    background-color: #dfdfdf;
    color: #000;
}

.projects__li__color article:hover {
    width: 100%;
    background-color: #dfdfdf;
    color: #000; 
}

.projects__li i {
    z-index: 2;
}
